name: "Check Spelling"

on:
  push:
    branches: ["**"]
    tags-ignore: ["**"]
  pull_request:

env:
  PYTHON_VERSION: "3.11"

jobs:
  check-spelling:
    # Only run on PRs if the source branch is on someone else's repo
    if: "${{ github.event_name != 'pull_request' || github.repository != github.event.pull_request.head.repo.full_name }}"
    runs-on: "ubuntu-latest"
    steps:
    - uses: "actions/checkout@v4"
    - name: "setup python ${{ env.PYTHON_VERSION }}"
      uses: "actions/setup-python@v4"
      with:
        python-version: "${{ env.PYTHON_VERSION }}"
        cache: "pipenv"
    - name: "setup python / install pipenv"
      run: "pip install pipenv"
    - name: "setup python / dependencies"
      run: "pipenv install"
    - name: "setup python / spelling problem matcher"
      run: |
        echo "::add-matcher::.github/sphinx-spelling-matcher.json"
    - name: "run spellcheck"
      run: |
        pipenv run make spelling

